.Cabeçalho{
    background-color: hsla(0, 75%, 34%, 0.815);
    margin: 0 10px;
    font-size: 20px;
}
.imagempimenta{
width: 20%;
}
.corpo{
    background-color: rgb(105, 24, 24);
}
.imagempimenta2{
    width: 20%;
}