.Cabeçalho{
    background-color: hsl(0, 78%, 40%);
    margin: 0 10px;
    font-size: 20px;
}
.imagempimenta{
width: 20%;
}
.corpo{
    background-color: rgb(65, 13, 13);
}
.imagempimenta2{
    width: 20%;
}