.Cabeçalho{
    background-color: hsla(0, 79%, 43%, 0.945);
    margin: 0 10px;
    font-size: 20px;
}
.imagempimenta{
width: 20%;
}
.corpo{
    background-color: rgb(65, 13, 13);
}
.imagempimenta2{
    width: 20%;
}